@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
* {
    
}

.inputs {
    width: 300px;
    margin: 20px auto;
}
body {
    font-family: Roboto;
}
.paper{
    background-color: lightgray;
    width: 400px;
    padding: 10px;
    margin: auto;
}
h1 {
    font-size: 70px;
}
.tag {
    background-color:red;
    color: white;
    width: 400px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    height: 100px;
}
.tag h3 {
    font-size: 25px;
}
.middle {
    background-color: white;
    color: black;
    text-align: center;
    font-style: italic;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Dancing Script';
    font-weight: bold;
}
.bottom {
    border-radius: 0px 0px 10px 10px;
    height: 25px;
    background-color: red;
}
